<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../public/account/css/style.css">
    <link rel="stylesheet" href="./../public/account/1dashboard/dashboard.css">
    <title>dashboard</title>
</head>

<body>
    <header>
        <div class="options">
            <div>
                <a title="help" href="#"><img src="./../public/account/icons/question-circle-regular.svg"
                        height="20px"></a>
                <a title="notification" href="#"><img src="./../public/account/icons/bell-regular.svg"
                        height="20px"></a>
            </div>
            <div>
                <div>
                    <div class="name">{{name}}</div>
                    <div class="email">{{email}}<img src="./../public/account/icons/caret-down-solid.svg" height="12px">
                    </div>
                </div>
                <div class="ext">
                    <a href="/dashboard">my account</a>
                    <a href="/setting">setting</a>
                    <a id="logout">logout</a>
                </div>
            </div>
        </div>
    </header>
    <navbar id="nav">
        <div class="collapsible"><img id="arrow" src="./../public/account/icons/angle-right-solid.svg" height="30px">
        </div>
        <div class="logo">SecurIt</div>
        <br>
        <div class="options">
            <ul>
                <a href="/home">
                    <li>Home</li>
                </a>
                <a href="/dashboard">
                    <li>Account</li>
                </a>
                <a href="#">
                    <li>Notification</li>
                </a>
                <a href="/setting">
                    <li>Setting</li>
                </a>
                <a href="#">
                    <li>Support</li>
                </a>
                <a id="logout">
                    <li>logout</li>
                </a>
            </ul>
        </div>
    </navbar>

    <section>
        <h2>My account</h2>

        <div>
            <div>
                <div>
                    name
                </div>
                <div>{{name}}</div>
            </div>

            <div>
                <div>
                    userID
                </div>
                <div>{{userID}}</div>
            </div>

            <div>
                <div>
                    account created
                </div>
                <div> 06/07/2020</div>
            </div>

            <div>
                <div>
                    status
                </div>
                <div>{{active}}</div>
            </div>

            <div>
                <div>
                    last logged in
                </div>
                <div> 18:45:06-12/09/2021</div>
            </div>
        </div>

        <div class="setting-div">
            <a href="/setting"> <button class="setting">setting</button></a>
        </div>
    </section>

    <script src="./../public/account/javascript/script.js"></script>
    <script src="./../public/api/dashboard.js"></script>
</body>

</html>